* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* .banner {
    max-width: 110%;
} */

body {
    background-color: rgb(52, 68, 97);
}

header {
    background-image: linear-gradient(to bottom, transparent, rgb(52, 68, 97)), url('pics/oilwater.jpg');
    background-repeat: no-repeat;
    max-width: 120%;
    height: 1000px;
}